[submodule "submodules/mavlink"]
	path = submodules/mavlink
	url = https://github.com/mavlink/c_library_v2
[submodule "GroundControlStation/submodules/qt-qbs-application"]
	path = GroundControlStation/submodules/qt-qbs-application
	url = https://github.com/approximator/Qt-Qbs-Application.git
[submodule "GroundControlStation/submodules/qt-super-macros"]
	path = GroundControlStation/submodules/qt-super-macros
	url = https://github.com/approximator/Qt-Super-Macros.git
